<ion-header >
    <ion-toolbar class="background">
      <ion-title class="background">
        
      </ion-title>
    </ion-toolbar>
  </ion-header>
<ion-content class="background">
    <ion-item class="img">
      
        <ion-img style="width: 120px; " src="goldcoin.png"></ion-img>
       
      </ion-item>
  


 
    <ion-row>
            <ion-col   text-center >
                <br><ion-text class="t" ><h1>Congratulations!</h1></ion-text></ion-col>
        </ion-row>
        
        <ion-row>
            <ion-col   text-center >
                <ion-text  font-family="roboto" class="t1">Transaction completed Succesfully.
                  <br>We're Glad you're using Goldilver</ion-text></ion-col>
        </ion-row>
        <br>
        <ion-row>
            <ion-col   text-center >
                <ion-button class="b" shape="round" onclick="location.href='/home'">Back to Wallet</ion-button></ion-col>
                </ion-row>

</ion-content>
