.t{
    color:"warning";
}
.background{
    --ion-background-color:#0D0D21;
}
.img{
    border-top: 60px;
    top:60px;
    align-items: center;
    align-content: center;
    align-self: center;
    left:120px;
    background-image: url(C:\Users\Lenovo\goldiver\image\goldcoin.png);
    
    }
.t1{
    color: "warning";
    font-family : "Roboto";
}

    .b{
        text-align: center;
        width: 80%;
        color:#000000;
        font-family: "Roboto";
        --color:black;
        color:black;
    --ion-color-primary:#F4CA65;
    }