<ion-header>
  <ion-toolbar class="background">
    <ion-title class="background">
      Goldilver  
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
    <br>
    <br>
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
  <ion-grid>
  <ion-row>
    
  <ion-col size="12" size-sm="8" offset-sm="2" text-center >
  <img src="../assets/img/goldcoin.png" id="icon-img" width=50% height=85%/>
  </ion-col>
  </ion-row>
  <ion-row>
  <ion-col size="12" size-sm="8" offset-sm="2" text-center >      
  <ion-text position="center">
  <h1>Register with the Card Key</h1>
  </ion-text>
  </ion-col>
  </ion-row>

  <ion-row>
      &nbsp;<ion-input class="x" [(ngModel)]="t1" name="t1" maxlength="1" tabindex="1" type="text" color="warning" ></ion-input>
      &nbsp;<ion-input class="x" [(ngModel)]="t2" name="t2" maxlength="1" tabindex="2" type="text" color="warning" ></ion-input>
      &nbsp;<ion-input class="x" [(ngModel)]="t3" name="t3" maxlength="1" tabindex="3" type="text" color="warning" ></ion-input>
      &nbsp;<ion-input class="x" [(ngModel)]="t4" name="t4" maxlength="1" tabindex="4" type="text" color="warning" ></ion-input>
      &nbsp;<ion-input class="x" [(ngModel)]="t5" name="t5" maxlength="1" tabindex="5" type="text" color="warning" ></ion-input>
      &nbsp;<ion-input class="x" [(ngModel)]="t6" name="t6" maxlength="1" tabindex="6" type="text" color="warning" ></ion-input>
      &nbsp;<ion-input class="x" [(ngModel)]="t7" name="t7" maxlength="1" tabindex="7" type="text" color="warning" ></ion-input>
      &nbsp;<ion-input class="x" [(ngModel)]="t8" name="t8" maxlength="1" tabindex="8" type="text" color="warning" ></ion-input>
      &nbsp;<ion-input class="x" [(ngModel)]="t9" name="t9" maxlength="1" tabindex="9" type="text" color="warning" ></ion-input>
      &nbsp;<ion-input class="x" [(ngModel)]="t10" name="t10" maxlength="1" tabindex="10" type="text" color="warning" ></ion-input>      
  </ion-row>
  <br>
  &nbsp;&nbsp;&nbsp;&nbsp;<ion-text class="txt">Key in the code from the card</ion-text>
  <br> <br>               
  <ion-row>
  <ion-col size="12" size-sm="8" offset-sm="2" text-center>
  <ion-button class="btn-reg" type="submit" expand="block" shape="round" (click)="onsubmitauth(t1, t2, t3, t4, t5, t6, t7, t8, t9, t10)">
  Register
  &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
  &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
  <ion-icon name="arrow-forward" slot="end"></ion-icon></ion-button>

  <!-- onclick="location.href='/kyc'" -->

  </ion-col>
  </ion-row>
  <br>
  <ion-row>
  <ion-col size="12" size-sm="8" offset-sm="2" text-center>
  <ion-text class ="txt" color="warning" position="center" font-family="Roboto"><h3>Contact Us</h3></ion-text>  </ion-col></ion-row>

  <ion-row>
    <ion-col size="12" size-sm="8" offset-sm="2" text-center>
    <ion-icon name="call" style="zoom: 2;" href="tel:+8692099118" (click)="phoneAlert()"></ion-icon>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <ion-icon name="text" style="zoom: 2;"></ion-icon>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <ion-icon name="mail" style="zoom: 2;" (click)="emailAlert()"><a href="mailto : abc@gmail.com"></a></ion-icon>  
    </ion-col>
  </ion-row>

  </ion-grid>

  </form>

  </ion-content>
