.btn-reg{
    color: black;
    font-family: "Roboto";
    --ion-color-primary: #F4CA65;
}
h3{
    font-family: "Roboto";
}
h5{
    font-family: "Roboto";
}

.background{
    --ion-background-color:#0D0D21;
}
.x{

    color: #F4CA65;
    border: 1px solid #F4CA65;
    max-width:10%;
    left: 0px;
    align-items: center;
    box-align: center;
    margin-top: 20px;
    text-align: center;
    
    background-color: #1f2840;
    
} 
.txt{
    color: #F4CA65;
    font-family: "Roboto";
}
