.background{
    --ion-background-color:#0D0D21;
}
.btn-reg{
    color:black;
    font-family: "Roboto";
    --ion-color-primary:#F4CA65;
}
.img{
    border-top: 60px;
    top:60px;
    align-items: center;
    align-content: center;
    align-self: center;
    left:120px;
    background-image: url(C:\Users\Lenovo\goldiver\image\goldcoin.png);
    
    }
h3{
    font-family: "Roboto"
}
h5{
    font-family: "Roboto"
}

.x{
    

    color:#ffffff;
    border: 1px solid #F4CA65;
    max-width:10%;
    left: 1px;
    align-items: center;
    box-align: center;
    margin-top: 20px;
    text-align: center;
    
    background-color: #1f2840;
    
} 
.txt{
    color: #F4CA65;
    font-family: "Roboto"
}

h1{
    color: #F4CA65; 
    font-family: 'luminari';
}
