.background{
    --ion-background-color:#0D0D21;
    color:rgb(141, 133, 113)
}
.b1{
    color:#FFFFFF;
    font-family: "roboto";
    $font-size-base:90px;
}
.c{
    color:#00FFFF;
    font-family: "roboto";
}
.bac{
    --ion-primary-color:#0D0D21;
        color: #FFFFFF; 
}
.img{
    margin-left:0px;
    float: left;
    align-items: left;
}
.p{
    font-family: "roboto";
    color:#FF0000;
    font-family:roboto;

}