.background{
    --ion-background-color:#0D0D21;
}
.img{
    border-top: 60px;
    top:60px;
    align-items: center;
    align-content: center;
    align-self: center;
    left:120px;
    background-image: url(C:\Users\Lenovo\goldiver\image\goldcoin.png);
    
    }
h4,h3{
    font-family: "Roboto"
}
.btn-reg{
    color:black;
    --ion-color-primary:#F4CA65;
    font-family: "Roboto"
}
ion-text{
    color: #F4CA65;
}
.x{
    

    color:#ffffff;
    border: 1px solid #F4CA65;
    max-width:10%;
    left: 30px;
    align-items: center;
    box-align: center;
    margin-top: 20px;
    text-align: center;
    background-color: #1f2840;
    
} 
h4{
    color: #F4CA65;
}
a{
    font-family: "Roboto";
    color: skyblue;
}
