<ion-header>
  <ion-toolbar class="background">
    <ion-title>forgotpin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-content class="background">
  
        <ion-item class="img">
          
          <ion-img style="width: 120px; " src="goldcoin.png"></ion-img>
         
        </ion-item>
        <h4>Goldiver</h4>
        
        <p>Use and earn them to get <br> some valuable goodies<br><h2>. . .</h2></p>
            <ion-input class="x" placeholder="abc@gmail.com"[(ngModel)]="username" type="email"></ion-input><br>
           &nbsp;&nbsp;<ion-button class="button2" shape="round" (click)="pin()" >SEND</ion-button>
        
</ion-content>
