.background{
    --ion-background-color:#0D0D21;
  }
  .img{
    border-top: 60px;
    top:60px;
    align-items: center;
    align-content: center;
    align-self: center;
    left:120px;
    //background-image: url(C:\Users\Lenovo\goldiver\image\goldcoin.png);
    
    }
    .x{
    

        color:#ffffff;
        border: 1px solid #F4CA65;
        max-width:70%;
        left: 60px;
        align-items: center;
        box-align: center;
        margin-top: 100px;
        text-align: left;
        
    }
    h4{
    
        margin-top: 60px;
        text-align: center;
        color: #F4CA65; 
        font-family: 'luminari';
    }
    .button2{
        width:300px;
        --ion-color-primary:#F4CA65;
        color: black;
        text-align: left;
        margin-left: 35px;
        height: 50px;
        margin-top: 20px;
        
    
    }
    h2{
    
        margin-top: 0px;
        text-align: center;
        color: #F4CA65; 
        font-family: 'luminari';
    }
    p{
    
        text-align: center;
        color: #F4CA65;  
        font-family:'roboto';  
    }
    