<ion-header >
  <ion-toolbar class="background">
    <ion-title class="background">
      
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  
    <ion-item class="img">
      
      <ion-img style="width: 120px; " src="goldcoin.png"></ion-img>
     
    </ion-item>

  <h4>Goldiver</h4>
<p>Use and earn them to get <br> some valuable goodies<br><h2>. . .</h2></p>



    
 
&nbsp;&nbsp; <ion-button class="button1"  shape="round"(click)="login()">Log In</ion-button><br>

<br>&nbsp;&nbsp; <ion-button  class="button2"  shape="round" (click)="reg()">Register with the card key</ion-button><br>
<br><a href="/contactus">Contact Us</a>

  
</ion-content>
